### 1. 라이브러리 호출

In [1]:
import pandas as pd         # 데이터프레임
from sklearn.ensemble import RandomForestRegressor

### 2. 데이터 셋 구성하기

#### (1) 데이터 불러오기

In [2]:
train = pd.read_csv("C:/Users/user13/Documents/Study/따릉이/train.csv")
test = pd.read_csv("C:/Users/user13/Documents/Study/따릉이/test.csv")

In [3]:
print(train.shape)
print(test.shape)

(1459, 11)
(715, 10)

In [4]:
train.info()    # 결측치 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [5]:
test.info()     # 결측치 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

#### (2) 전처리 (결측치 처리)
* hour_bef_precipitation : 최빈값(0)으로 처리
* 나머지 열 : 평균값으로 처리

In [6]:
# train 결측치
train.isna().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [7]:
# hour_bef_precipitation 최빈값 찾기
train['hour_bef_precipitation'].value_counts()

0.0    1411
1.0      46
Name: hour_bef_precipitation, dtype: int64

In [8]:
# train 데이터셋 결측치 처리
train['hour_bef_precipitation'].fillna('0', inplace=True)
train.fillna(train.mean(), inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1459 non-null   float64
 3   hour_bef_precipitation  1459 non-null   object
 4   hour_bef_windspeed      1459 non-null   float64
 5   hour_bef_humidity       1459 non-null   float64
 6   hour_bef_visibility     1459 non-null   float64
 7   hour_bef_ozone          1459 non-null   float64
 8   hour_bef_pm10           1459 non-null   float64
 9   hour_bef_pm2.5          1459 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(8), int64(2), object(1)
memory usage: 125.5+ KB

C:\Users\user13\AppData\Local\Temp\ipykernel_13996\2700318772.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train.fillna(train.mean(), inplace=True)

In [9]:
# test 결측치
test.isna().sum()

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

In [10]:
# hour_bef_precipitation 최빈값 찾기
test['hour_bef_precipitation'].value_counts()

0.0    677
1.0     37
Name: hour_bef_precipitation, dtype: int64

In [11]:
# test 데이터셋 결측치 처리
test['hour_bef_precipitation'].fillna('0', inplace=True)
test.fillna(test.mean(), inplace=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    715 non-null    float64
 3   hour_bef_precipitation  715 non-null    object
 4   hour_bef_windspeed      715 non-null    float64
 5   hour_bef_humidity       715 non-null    float64
 6   hour_bef_visibility     715 non-null    float64
 7   hour_bef_ozone          715 non-null    float64
 8   hour_bef_pm10           715 non-null    float64
 9   hour_bef_pm2.5          715 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 56.0+ KB

C:\Users\user13\AppData\Local\Temp\ipykernel_13996\16727229.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test.fillna(test.mean(), inplace=True)

#### (3) 특정 열 입력받아 새로운 데이터셋 만들기

In [12]:
input_col = ['hour_bef_temperature','hour_bef_precipitation']                       # 추출할 열 리스트
col_1 = ['id', 'count'] + input_col
col_2 = ['id'] + input_col

train_df = train[col_1]      # id + count + 추출할 열
test_df = test[col_2]

### 3. 모델 정의 및 학습

In [13]:
# x, y 분류
train_x = train_df.drop(['count'], axis=1)
train_y = train_df['count']

In [14]:
train_x.head()

   id  hour_bef_temperature hour_bef_precipitation
0   3                  16.3                    1.0
1   6                  20.1                    0.0
2   7                  13.9                    0.0
3   8                   8.1                    0.0
4   9                  29.5                    0.0

In [15]:
train_y.head()

0     49.0
1    159.0
2     26.0
3     57.0
4    431.0
Name: count, dtype: float64

In [16]:
model=RandomForestRegressor(n_estimators=100)
model.fit(train_x,train_y)

RandomForestRegressor()

In [17]:
pred = model.predict(test_df)

In [18]:
submission = pd.read_csv('C:/submission.csv')
submission

       id  count
0       0    NaN
1       1    NaN
2       2    NaN
3       4    NaN
4       5    NaN
..    ...    ...
710  2148    NaN
711  2149    NaN
712  2165    NaN
713  2166    NaN
714  2177    NaN

[715 rows x 2 columns]

In [19]:
submission['count'] = pred

In [20]:
submission

       id   count
0       0  178.93
1       1  301.55
2       2  121.29
3       4  212.20
4       5   80.17
..    ...     ...
710  2148  222.45
711  2149   88.70
712  2165  211.70
713  2166  224.80
714  2177  194.36

[715 rows x 2 columns]

In [21]:
submission.to_csv('결과.csv',index = False)