### 1. 라이브러리 호출

In [1]:
import pandas as pd         
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

### 2. 데이터 셋 구성하기

#### 1) 데이터 불러오기

In [2]:
train = pd.read_csv("C:/Users/user13/Documents/Study/따릉이/train.csv")
test = pd.read_csv("C:/Users/user13/Documents/Study/따릉이/test.csv")

In [3]:
train.info()    # 결측치 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [4]:
test.info()     # 결측치 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

#### 2) 전처리 (결측치 처리)
* hour_bef_precipitation : 최빈값(0)으로 처리
* 나머지 열 : 평균값으로 처리

In [5]:
# train 결측치
train.isna().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [6]:
# hour_bef_precipitation 최빈값 찾기
train['hour_bef_precipitation'].value_counts()

0.0    1411
1.0      46
Name: hour_bef_precipitation, dtype: int64

In [7]:
# train 데이터셋 결측치 처리
train['hour_bef_precipitation'].fillna('0', inplace=True)
train.fillna(train.mean(), inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1459 non-null   float64
 3   hour_bef_precipitation  1459 non-null   object
 4   hour_bef_windspeed      1459 non-null   float64
 5   hour_bef_humidity       1459 non-null   float64
 6   hour_bef_visibility     1459 non-null   float64
 7   hour_bef_ozone          1459 non-null   float64
 8   hour_bef_pm10           1459 non-null   float64
 9   hour_bef_pm2.5          1459 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(8), int64(2), object(1)
memory usage: 125.5+ KB

C:\Users\user13\AppData\Local\Temp\ipykernel_6500\2700318772.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train.fillna(train.mean(), inplace=True)

In [8]:
# test 결측치
test.isna().sum()

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

In [9]:
# hour_bef_precipitation 최빈값 찾기
test['hour_bef_precipitation'].value_counts()

0.0    677
1.0     37
Name: hour_bef_precipitation, dtype: int64

In [10]:
# test 데이터셋 결측치 처리
test['hour_bef_precipitation'].fillna('0', inplace=True)
test.fillna(test.mean(), inplace=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    715 non-null    float64
 3   hour_bef_precipitation  715 non-null    object
 4   hour_bef_windspeed      715 non-null    float64
 5   hour_bef_humidity       715 non-null    float64
 6   hour_bef_visibility     715 non-null    float64
 7   hour_bef_ozone          715 non-null    float64
 8   hour_bef_pm10           715 non-null    float64
 9   hour_bef_pm2.5          715 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 56.0+ KB

C:\Users\user13\AppData\Local\Temp\ipykernel_6500\16727229.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test.fillna(test.mean(), inplace=True)

#### 3) 특정 열 입력받아 새로운 데이터셋 만들기

In [11]:
input_col = ['hour_bef_temperature','hour_bef_precipitation']                       # 추출할 열 리스트
col = ['count'] + input_col

train_df = train[col]            # id + count + 추출할 열
test_df = test[input_col]        # id + 추출할 열

#### 4) 변수 정의

In [12]:
# x, y 분류
x_train = train_df.drop(['count'], axis=1)
y_train = train_df['count']
x_test = test_df

In [13]:
x_train.head()

   hour_bef_temperature hour_bef_precipitation
0                  16.3                    1.0
1                  20.1                    0.0
2                  13.9                    0.0
3                   8.1                    0.0
4                  29.5                    0.0

### 4. 학습 (6가지 모델)

#### 1) GradientBoostingRegressor

In [14]:
from sklearn.ensemble import GradientBoostingRegressor

# 모델 정의
gbm = GradientBoostingRegressor()

# 학습
gbm.fit(x_train, y_train)

# 예측
y_gbm_pred = gbm.predict(x_test)

In [15]:
# 출력
submission = pd.read_csv('C:/submission.csv')
submission['count'] = y_gbm_pred
submission

       id       count
0       0  167.798410
1       1  287.302944
2       2   57.280172
3       4  180.700048
4       5   51.352635
..    ...         ...
710  2148  182.426776
711  2149  111.454374
712  2165  179.384496
713  2166  199.459215
714  2177  167.027035

[715 rows x 2 columns]

#### 2) NGBRegressor

In [16]:
from ngboost import NGBRegressor

# 모델 정의
ngb = NGBRegressor()

# 학습
ngb.fit(x_train, y_train)

# 예측
y_ngb_pred = ngb.predict(x_test)

[iter 0] loss=5.8330 val_loss=0.0000 scale=1.0000 norm=65.4410
[iter 100] loss=5.5287 val_loss=0.0000 scale=2.0000 norm=101.3841
[iter 200] loss=5.4790 val_loss=0.0000 scale=2.0000 norm=98.5803
[iter 300] loss=5.4585 val_loss=0.0000 scale=2.0000 norm=97.3546
[iter 400] loss=5.4447 val_loss=0.0000 scale=2.0000 norm=96.5894

In [17]:
# 출력
submission = pd.read_csv('C:/submission.csv')
submission['count'] = y_ngb_pred
submission

       id       count
0       0  168.341522
1       1  291.203565
2       2   59.958225
3       4  181.056244
4       5   55.221538
..    ...         ...
710  2148  179.048114
711  2149  111.484148
712  2165  179.142416
713  2166  201.071542
714  2177  167.230200

[715 rows x 2 columns]

#### 3) LGBMRegressor

#### 4) XGBRegressor

#### 5) CatBoostRegressor

#### 6) RandomForestRegressor

In [17]:
model=RandomForestRegressor(n_estimators=100)
model.fit(train_x, train_y)

RandomForestRegressor()

In [18]:
pred = model.predict(test_x)

In [19]:
submission = pd.read_csv('C:/submission.csv')
submission

       id  count
0       0    NaN
1       1    NaN
2       2    NaN
3       4    NaN
4       5    NaN
..    ...    ...
710  2148    NaN
711  2149    NaN
712  2165    NaN
713  2166    NaN
714  2177    NaN

[715 rows x 2 columns]

In [20]:
submission['count'] = pred

In [21]:
submission

       id       count
0       0  165.168919
1       1  278.942500
2       2   52.480420
3       4  171.866284
4       5   66.340000
..    ...         ...
710  2148  196.889095
711  2149  118.437983
712  2165  148.052551
713  2166  206.969762
714  2177  155.930559

[715 rows x 2 columns]

### 4. 평가

In [ ]:
print('RandomForestRegressor MSE : {:.3f}'.format(mean_squared_error()))

In [21]:
submission.to_csv('결과.csv',index = False)